#include "Version.xcconfig"

CODE_SIGN_STYLE = Automatic
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_FILE = No-UIKit/Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 17.0
PRODUCT_BUNDLE_IDENTIFIER = com.example.$(PRODUCT_NAME:rfc1034identifier)
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
