#include "Version.xcconfig"

DEVELOPMENT_TEAM =

CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = Apple Development
CODE_SIGNING_ALLOWED = YES
CODE_SIGNING_REQUIRED = YES
CODE_SIGNING_SUPPORTED = YES
PRODUCT_BUNDLE_IDENTIFIER = com.example.$(PRODUCT_NAME:rfc1034identifier)
PROVISIONING_PROFILE_SPECIFIER =
