GENERATE_INFOPLIST_FILE = YES
INFOPLIST_FILE =
IPHONEOS_DEPLOYMENT_TARGET = 17.0
PRODUCT_BUNDLE_IDENTIFIER = com.example.$(PRODUCT_NAME:rfc1034identifier)
PRODUCT_NAME = $(TARGET_NAME)
SKIP_INSTALL = YES
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
SWIFT_EMIT_LOC_STRINGS = NO
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
TEST_HOST = $(BUILT_PRODUCTS_DIR)/ModernUIKit.app/$(BUNDLE_EXECUTABLE_FOLDER_PATH)/ModernUIKit
BUNDLE_LOADER = $(TEST_HOST)
